---
// Remove current url path and remove trailing slash if exists
const currentUrlPath = Astro.url.pathname.replace(/\/+$/, "");

// Get url array from path
// eg: /tags/bootstrap => ['tags', 'bootstrap']
const breadcrumbList = currentUrlPath.split("/").slice(1);

// if breadcrumb is Home > Posts > 1 <etc>
// replace Posts with Posts (page number)
breadcrumbList[0] === "posts" &&
  breadcrumbList.splice(0, 2, `Posts (page ${breadcrumbList[1] || 1})`);

// if breadcrumb is Home > Tags > [tag] > [page] <etc>
// replace [tag] > [page] with [tag] (page number)
breadcrumbList[0] === "tags" &&
  !isNaN(Number(breadcrumbList[2])) &&
  breadcrumbList.splice(
    1,
    3,
    `${breadcrumbList[1]} ${
      Number(breadcrumbList[2]) === 1 ? "" : "(page " + breadcrumbList[2] + ")"
    }`
  );
---

<nav class="breadcrumb-container" aria-label="breadcrumb">
  <ol class="breadcrumb mb-1 mt-4">
    <li class="breadcrumb-item">
      <a href="/" class="text-decoration-none text-muted">Home</a>
    </li>
    {
      breadcrumbList.map((breadcrumb, index) =>
        index + 1 === breadcrumbList.length ? (
          <li
            class={`breadcrumb-item active ${
              index > 0 ? "text-lowercase" : "text-capitalize"
            }`}
            aria-current="page"
          >
            {/* make the last part lowercase in Home > Tags > some-tag */}
            {decodeURIComponent(breadcrumb)}
          </li>
        ) : (
          <li class="breadcrumb-item">
            <a href={`/${breadcrumb}/`} class="text-decoration-none text-muted">
              {breadcrumb}
            </a>
          </li>
        )
      )
    }
  </ol>
</nav>

<style>
  .breadcrumb-container {
    max-width: 48rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  .breadcrumb a:hover,
  .breadcrumb a:focus-visible {
    color: var(--bs-primary);
  }
</style>
