---
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"} w-100 py-4`}>
  <div class="container px-3">
    <div class="content-card footer-card">
      <Socials centered />
      <div class="copyright-wrapper">
        <span>Hakimiliki &#169; {currentYear}</span>
        <span class="separator">&nbsp;|&nbsp;</span>
        <span>Haki zote zimehifadhiwa.</span>
      </div>
    </div>
  </div>
</footer>

<style>
  .copyright-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
  }
  .separator {
    display: none;
  }
  @media (min-width: 576px) {
    .copyright-wrapper {
      flex-direction: row;
    }
    .separator {
      display: inline;
    }
  }
</style>
