---
export interface Props {
  noPadding?: boolean;
  ariaHidden?: boolean;
}

const { noPadding = false, ariaHidden = true } = Astro.props;
---

<div class={`container ${noPadding ? "px-0" : "px-3"}`}>
  <hr class="border-top border-opacity-50" aria-hidden={ariaHidden} />
</div>
