---
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";

const URL = Astro.url;

const shareLinks = [
  {
    name: "WhatsApp",
    href: "https://wa.me/?text=",
    linkTitle: `Share makala hii WhatsApp`,
  },
  {
    name: "Facebook",
    href: "https://www.facebook.com/sharer.php?u=",
    linkTitle: `Share makala hii Facebook`,
  },
  {
    name: "Twitter",
    href: "https://twitter.com/intent/tweet?url=",
    linkTitle: `Tweet this post`,
  },
  {
    name: "Telegram",
    href: "https://t.me/share/url?url=",
    linkTitle: `Share makala hii Telegram`,
  },
  {
    name: "Pinterest",
    href: "https://pinterest.com/pin/create/button/?url=",
    linkTitle: `Share makala hii Pinterest`,
  },
  {
    name: "Mail",
    href: "mailto:?subject=See%20this%20post&body=",
    linkTitle: `Share makala hii kwa email`,
  },
] as const;
---

<div
  class="social-icons d-flex flex-column flex-sm-row align-items-center align-items-sm-start gap-1"
>
  <span class="fst-italic">Share makala hii:</span>
  <div class="text-center text-sm-start">
    {
      shareLinks.map(social => (
        <LinkButton
          href={`${social.href + URL}`}
          className="share-link-button"
          title={social.linkTitle}
        >
          <Fragment set:html={socialIcons[social.name]} />
          <span class="visually-hidden">{social.linkTitle}</span>
        </LinkButton>
      ))
    }
  </div>
</div>
